{% extends "base/base.html" %}
{% block titulo %}Login{% endblock %}
{% block contenido %}

    <h2>HOME</h2>

    <br><br>

    <form action="./" method="post" style="display: grid; align-items: center; justify-content: center;">
        <div class="mb-3">
          <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Usuario" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" required>
        </div>
        <br><br>
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>

{% endblock %}