{% extends "base/base.html" %}
{% block titulo %} MIEMBROS TE {% endblock %}
{% block tituloBarra %} LISTA MIEMBROS TE {% endblock %}
{% block contenido %}

	<div>
		<br><br><br>
	</div>

	<table>
		<thead>
			<tr>
				<td> DOCENTE </td>
				<td> FECHA ALTA</td>
				<td> ROL </td>
				<td> DETALLE </td>
			</tr>
		</thead>
		<tbody>
			{% if object_list %}
			{% for miembro in object_list %}
				<tr>
					<td>{{ miembro.docente }}</td>
					<td>{{ miembro.fecha_alta }}</td>
					<td>{{ miembro.rol }}</td>
					<td><button><a href=" {% url 'comision:miembroTE_detalle' miembro.id %} "> {{ miembro.docente.cuil }} </a></button></td>
				</tr>
			{% endfor %}
			{% else %}
				<h1> NO HAY MIEMBROS TE</h1>
			{% endif %}
		</tbody>


	</table>
{% endblock %}