{% extends "base/base_sb.html" %}
{% block titulo %}Confirmar {% endblock %}
{% block titulo_barra %}CONFIRMACION ELIMINACION MIEMBRO {% endblock %}
{% block contenido %}

<br><br><br>

<form method="post">
    {% csrf_token %}
    <p>Desea eliminar el miembro?</p>
    <input type="hidden" name="tribunal_id" value="{{ tribunal.id }}">
    <a class="btn btn-secondary" href="{% url 'comision:tribunal_list' %}">CANCELAR</a>
    <button type="submit" class="btn btn-danger"> CONFIRMAR </button>
</form>

{% endblock %}