{% extends "base.html" %}
{% block titulo %}Crear Tribunal Evaluador{% endblock %}
{% block tituloBarra %}Crear Tribunal Evaluador{% endblock %}
{% block contenido %}

<br><br><br>
    <form enctype="multipart/form-data" method="post" action="{% url 'comision:tribunal_create' %}"  id="tribunal-form">
        {% csrf_token %}
        {{ tribunal_form.as_p }}

        <button type="submit" id="agregar-miembro">Agregar</button>
    </form>

    <a href="{% url 'comision:tribunal_list' %}">VOLVER</a>



{% endblock %}