{% extends "base/base_sb.html" %}
{% block titulo %}Editar Tribunal Evaluador{% endblock %}
{% block titulo_barra %}Editar Tribunal Evaluador{% endblock %}
{% block contenido %}

<br><br><br>
<a class="btn btn-secondary" href="{% url 'comision:tribunal_list' %}">VOLVER</a>
<br><br>

<form enctype="multipart/form-data" method="post" action="{% url 'comision:tribunal_edit' tribunal.id %}" >
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Guardar</button>
</form>

{% endblock %}