{% extends "base/base.html" %}
{% block titulo %}Listado proyectotf{% endblock %}
{% block contenido %}
{% block tituloBarra %}Listado proyectotf{% endblock %}
    <br>
    <br>
    <br>

    <a href="{% url 'proyectotf:proyectotf_create' %}" class="btn btn-primary">Agregar Proyecto TF</a>

    <div id="resultados">
        <table class="table table-bordered table-sm" style="justify-content: center;width: 65%; margin-left: auto; margin-right: auto;">
            <thead>
                <tr>
                    <th scope="col">Titulo PTF</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Alumno</th>
										<th scope="col">Director</th>
										<th scope="col">Fecha Presentacion</th>
                </tr>
            </thead>
            <tbody>
            {% for proyecto in proyectotfs %}
                <tr>
                    <td scope="row"><a href="{% url 'proyectotf:proyectotf_detail' proyecto.id %}">{{ proyecto.proyecto_tf.titulo_ptf }}</a></td>
                    <td>{{ proyecto.proyecto_tf.descripcion }}</td>
                    <td>{{ proyecto.proyecto_tf.estado }}</td>
                    <td>{{ proyecto.alumno }}</td>
										<td>{{ proyecto.proyecto_tf.director }}</td>
										<td>{{ proyecto.proyecto_tf.fecha_presentacion }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}