{% extends "base/base.html" %}
{% block titulo %}Detalle proyectotf{% endblock %}
{% block titulo_barra %}Detalle proyectotf{% endblock %}

{% block contenido %}

    <br><br><br>
    <h1>Proyecto_TF: {{ proyectotf.proyecto_tf.titulo_ptf }} </h1>
    <br><br>

    <p><strong> Datos del Proyecto TF: </strong></p>
    <p>Titulo PTF: {{ proyectotf.proyecto_tf.titulo_ptf }}</p>
    <p>Descripcion: {{ proyectotf.proyecto_tf.descripcion }}</p>
    <p>Estado: {{ proyectotf.proyecto_tf.estado }}</p>
    <p>Alumno: {{ proyectotf.alumno }}</p>
		<p>Director: {{ proyectotf.proyecto_tf.director }}</p>
		<p>Fecha Presentacion: {{ proyectotf.proyecto_tf.fecha_presentacion }}</p>


    <form action="{% url 'proyectotf:proyectotf_delete' proyectotf.id %}" method="POST" style="justify-content: center;width: 65%; margin-left: auto; margin-right: auto;">
        {% csrf_token %}
        <input type="hidden" name="id_proyectotf" value="{{ proyectotf.id }}">

        {% if perms.proyectotf.delete_proyecto_tf and  perms.proyectotf.edit_proyecto_tf and perms.proyectotf.edit_proyecto_tf_alumno  %}
        <input type="submit" value="Eliminar" class="btn btn-danger" >
        <a href="{% url 'proyectotf:proyectotf_edit' proyectotf.id %}" class="btn btn-primary">Editar Proyecto</a>
        <a href="{% url 'proyectotf:proyectotf_miembros_edit' proyectotf.id %}" class="btn btn-primary">Editar Alumnos</a>
        {% endif %}
    </form>

    <br><br>

    {% if perms.proyectotf.delete_proyecto_tf and  perms.proyectotf.edit_proyecto_tf and perms.proyectotf.edit_proyecto_tf_alumno  %}
    <a class="btn btn-secondary" href="{% url 'proyectotf:proyectotf_list' %}">VOLVER</a>
    {% else %}
    <a class="btn btn-secondary"  href="{% url 'usuarios:usuario' %}">VOLVER</a>
    {% endif %}

{% endblock %}