{% extends "base/base.html" %}
{% block titulo %}Detalle Alumnos{% endblock %}
{% block titulo_barra %}Detalle Alumnos{% endblock %}

{% block contenido %}

    <br><br><br>
     <a href="{% url 'persona:alumno_list'%}" class="btn btn-secondary">Volver</a>
    <br><br>
    <h1>Alumno: {{ alumno.nombre }} {{ alumno.apellido }}</h1>
    <p><strong> Datos del alumno: </strong></p>
    <p>Nombre: {{ alumno.nombre }}</p>
    <p>Apellido: {{ alumno.apellido }}</p>
    <p>DNI: {{ alumno.dni }}</p>
    <p>MU: {{ alumno.matricula }}</p>
    <p>CORREO ELECTRONICO: {{ alumno.correo_electronico }}</p>

    <a href="{% url 'persona:alumno_delete' alumno.id %}" class="btn btn-danger">Eliminar</a>
    <a href="{% url 'persona:alumno_edit' alumno.id %}" class="btn btn-primary">Editar</a>

{% endblock %}