{% extends "base/base_sb.html" %}
{% block titulo %}Confirmar{% endblock %}
{% block titulo_barra %}CONFIRMACION ELIMINAR ASESOR{% endblock %}

{% block contenido %}

    <br><br><br><br>
    <form method="post" style="justify-content: center;width: 65%; margin-left: auto; margin-right: auto;">
        <h1>¿Está seguro de que desea eliminar al asesor {{ asesor.nombre }} {{ asesor.apellido }}?</h1>
        {% csrf_token %}
        <a href="{% url 'persona:asesor_detail' asesor.id %}" class="btn btn-secondary">CANCELAR</a>
        <button class="btn btn-danger">ELIMINAR</button>
    </form>


{% endblock %}