{% extends "base/base_sb.html" %}
{% block titulo %}Confirmar{% endblock %}
{% block titulo_barra %}CONFIRMACION ELIMINAR DOCENTE{% endblock %}

{% block contenido %}

    <br><br><br>
    <form method="post" style="justify-content: center;width: 65%; margin-left: auto; margin-right: auto;">
        <h3>¿Está seguro de que desea eliminar al docente {{ docente.nombre }} {{ docente.apellido }}?</h3>
        {% csrf_token %}
        <a href="{% url 'persona:docente_detail' docente.id %}" class="btn btn-secondary">CANCELAR</a>
        <button class="btn btn-danger">ELIMINAR</button>


    </form>


{% endblock %}