{% extends "base/base_sb.html" %}
{% block titulo %}Eliminar{% endblock %}
{% block titulo_barra %}¡CUIDADO!{% endblock %}

{% block contenido %}

    <br><br><br><br>
    <form method="post" style="justify-content: center;width: 65%; margin-left: auto; margin-right: auto;">
        <h3>¿Está seguro de que desea eliminar al docente {{ docente.nombre }} {{ docente.apellido }}?</h3>
        {% csrf_token %}
        <button class="btn btn-danger">Eliminar</button>
        <a href="{% url 'persona:docente_detail' docente.id %}" class="btn btn-primary">Cancelar</a>

    </form>


{% endblock %}