{% extends "base/base.html" %}
{% block titulo %}Registro de Alumnos{% endblock %}
{% block contenido %}
        
        <h3 style="display: flex; 
        position: relative;
        justify-content: center;
        ">Complete los campos por favor</h3>
        <br>
        <br>
        <form action="#" method="post" style="left:25px; display:grid;
        position: relative;
        justify-content: center;
        align-items: center;">
            <fieldset style="left:25px; position: relative; justify-content: center; ">
                <legend style="position: relative; left: 20px;">Datos Integrante</legend>
                <br>
                <br>
                <label for="mu" style="left:25px; ">N° Matricula Universitaria</label>
                <br>
                <input type="number" name="mu" id="mu"  placeholder="Ingrese su MU" required style="left:25px;  width: 14rem; ">
                <br>
                <br>
                <label for="dni" style="left:25px;  ">N° DNI</label>
                <br>
                <input type="number" name="dni" id="dni"  
                placeholder="Ingrese su nro de CUIL/CUIT sin puntos ni guiones" required style="left:25px;  width: 14rem;">
                <br>
                <br>
                <label for="nomyape" style="left:25px;  ">Apellido/s y Nombre/s</label>
                <br>
                <input type="text" name="nomyape" id="nomyape"  maxlength="60" 
                placeholder="Apellido/s y Nombre/s del Alumno" required style="left:25px;   width: 14rem;">
                <br>
                <br>
                <label for="nomyape" style="left:25px;  ">Correo electronico</label>
                <br>
                <input type="email" name="email" id="email"  maxlength="50" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                placeholder="Ingrese su direccion de correo electronico" required style="left:25px;  width: 14rem;">
                <br>
                <br>
            </fieldset>
            <fieldset style=" left:25px; position: relative; justify-content: center;">
                <legend style="position: relative; left: 60px;">Grupo</legend>
                <br>
                
                <label for="apeynomgrupo" style="left:-60px; position: relative;  "> NOMBRE Y APELLIDOS INTEGRANTES DE GRUPO</label>
                <br>
                <input type="text" name="apeynomgrupo" id="apeynomgrupo"  maxlength="50"
                placeholder="Integrante 1" required style="left:25px;  width: 14rem;">
                <br>
                <br>
                <input type="text" name="apeynomgrupo" id="apeynomgrupo1"  maxlength="50"
                placeholder="Integrante 2" style="left:25px;  width: 14rem; ">
                <br>
                <br>
                <input type="text" name="apeynomgrupo" id="apeynomgrupo2"  maxlength="50"
                placeholder="Integrante 3" style="left:25px;   width: 14rem;">
                <br>
                <br>
                <input type="text" name="apeynomgrupo" id="apeynomgrupo3" maxlength="50"
                placeholder="Integrante 4" style="left:25px; width: 14rem; ">
                <br>
                <br>
            
                <button class="btn btn-primary" type="submit" style="left: 25px; position: relative;">Guardar</button>
                <button class="btn btn-primary" type="reset" style="left: 25px; position: relative;">Cancelar</button>
            
            </fieldset>
            

            
        </form>
{% endblock %}