{% extends 'base/base_sb.html' %}
{% load static %}
{% block titulo %}Nueva Evaluación PTF{% endblock %}
{% block titulo_barra %}Nueva Evaluación PTF{% endblock %}
{% block contenido %}

    <br><br><br>
    <a href="{% url 'evaluacion:evaluacion_ptf_list' proyecto.id %}" class="btn btn-secondary">Volver</a>
    <br><br>

    <form method="post" enctype="multipart/form-data" action="{% url 'evaluacion:evaluacion_ptf_create' proyecto.id %}" style="justify-content: center;width: 65%; margin-left: auto; margin-right: auto;">
        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% if form.errors %}
                    {% for error in field.Errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

{% endblock %}

{% block js %}
<script src="{% static 'js/validacion_evaluaciones.js' %}"></script>
{% endblock %}