{% extends 'base/base_sb.html' %}
{% block titulo %}Editar Evaluacion ITF{% endblock %}
{% block titulo_barra %}Editar Evaluacion ITF{% endblock %}
{% block contenido %}

<br><br><br>
<a class="btn btn-secondary" href="{% url 'evaluacion:evaluacion_itf_list' evaluacion.informe_TF.id %}">VOLVER</a>
<br><br>

<form enctype="multipart/form-data" method="post" action="{% url 'evaluacion:evaluacion_itf_edit' evaluacion.id %}" style="justify-content: center;width: 65%; margin-left: auto; margin-right: auto;">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Guardar</button>
</form>

{% endblock %}