{% extends 'base/base_sb.html' %}
{% load static %}
{% block titulo %}Editar Evaluacion{% endblock %}
{% block titulo_barra %}Editar Evaluacion{% endblock %}
{% block contenido %}

<br><br><br>
<a class="btn btn-secondary" href="{% url 'evaluacion:evaluacion_ptf_list' evaluacion.proyecto_TF.id %}">VOLVER</a>
<br><br>

<form enctype="multipart/form-data" method="post" action="{% url 'evaluacion:evaluacion_ptf_edit' evaluacion.id %}" style="justify-content: center;width: 65%; margin-left: auto; margin-right: auto;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
</form>

{% endblock %}

{% block js %}
<script src="{% static 'js/validacion_evaluaciones.js' %}"></script>
{% endblock %}